.photo-gallery {
  padding: 0px 16px;
  padding-bottom: 16px;
  background-color: colors.$alabaster;
  // TITLE
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: colors.$badnSiteDarkBlack;
    padding-top: 24px;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__title {
    @include mixins.tablet {
      font-size: 36px;
      padding: 48px 0px 0px 0px;
      line-height: 44px;
      max-width: 900px;
      margin: auto;
    }
  }
  // PHOTO GALLERY IMAGE CONTAINER
  &__image-container {
    // IMAGES
    .photo-gallery-img {
      width: 100%;
      display: block;
      padding-top: 16px;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .photo-gallery-img {
      @include mixins.tablet {
        width: 30.3%;
        padding-top: 0px;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__image-container {
    @include mixins.tablet {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      max-width: 800px;
      margin: auto;
      padding-top: 36px;
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.photo-gallery {
  @include mixins.tablet {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}
