// PRIMARY COLORS
$bandSiteBlack: #323232;
$silver: #afafaf;
$white: #ffffff;
// SECONDARY COLORS
$badnSiteDarkBlack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
// FORM ERROR-STATE COLOR & DELETE BUTTON
$pink: #d22d2d;
// SHOW-DATE HOVER-SELECTED COLOR
$lightGray: #fafafa;
