@use "./mixins";
@use "./font";
.comments {
  padding: 24px 16px 0px 16px;
  // TITLE
  &__title {
    @include mixins.sectionHeader320;
  }
  // MEDIA = TABLET = [ ] = 768PX
  &__title {
    @include mixins.tablet {
      @include mixins.sectionHeader768;
    }
  }
  // FORM
  &__form {
    display: flex;
    // IMAGE CONTAINER
    .profile-image-container {
      flex: 20%;
      // IMAGE
      //   &__img {
      //     display: block;
      //     object-fit: cover;
      //     // width: 70%;
      //     margin: auto;
      //     // border-radius: 50%;
      //   }
    }
    // INPUT-SECTION
    .input-elements {
      flex: 80%;
      background-color: bisque;
      // LABEL
      &__label {
        display: block;
        width: 100%;
      }
      // NAME-INPUT
      &__name-input {
        display: block;
        width: 100%;
      }
      // COMMENT-INPUT
      &__comments-input {
        display: block;
        width: 100%;
      }
      // SUBMIT-BUTTON
      &__submit-btn {
        display: block;
        width: 100%;
      }
    }
  }
}
