@use "./mixins";
@use "./font";
.comments {
  padding: 0px 16px;
  // FORM
  &__form {
    display: flex;
    // IMAGE CONTAINER
    .profile-image-container {
      flex: 20%;
      // IMAGE
      &__img {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
    // INPUT SECTION
    .input-elements {
      flex: 80%;
    }
  }
}
