@use "./mixins";
@use "./colors";

.comments {
  padding: 0px 16px;
  // TITLE
  &__title {
    padding-top: 24px;
    @include mixins.sectionHeader320;
  }
  // MEDIA = TABLET = [ ] = 768PX
  &__title {
    padding-top: 48px;
    @include mixins.tablet {
      @include mixins.sectionHeader768;
    }
  }
  //  MEDIA = DESKTOP = [ ] = 1280PX
  &__title {
    @include mixins.desktop {
      max-width: 1040px;
      margin: auto;
    }
  }
  // FORM
  &__form {
    display: flex;
    padding: 16px 0px;
    border-bottom: 1px solid colors.$mercury;
    gap: 16px;
    // IMAGE CONTAINER
    .profile-image-container {
      padding-top: 16px;
      // IMAGE-BASE
      &__img-base {
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        @include mixins.profileImageMobile;
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__img-base {
        @include mixins.tablet {
          @include mixins.profileImageTablet;
        }
      }
    }

    // INPUT-SECTION
    .input-elements {
      width: 100%;
      // LABEL
      &__label {
        display: block;
        width: 100%;
        font-size: 10px;
        text-transform: uppercase;
        color: colors.$silver;
        padding-bottom: 4px;
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__label {
        @include mixins.tablet {
          font-size: 12px;
          text-align: left;
        }
      }
      // LABEL-COMMENT
      #label-comment {
        padding-top: 20px;
      }
      // NAME-INPUT
      &__name-input {
        display: block;
        width: 100%;
        height: 36px;
        padding: 12px;
        border: 1px solid colors.$mercury;
        border-radius: 4px;
        color: colors.$badnSiteDarkBlack;
        background-color: colors.$alabaster;
        font-size: 12px;
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__name-input {
        @include mixins.tablet {
          height: 48px;
          padding: 16px;
        }
      }
      &__name-input::placeholder {
        color: colors.$bandSiteBlack;
        font-size: 12px;
      }
      // COMMENT-INPUT
      &__comments-input {
        display: block;
        width: 100%;
        height: 80px;
        padding: 12px;
        border: 1px solid colors.$mercury;
        border-radius: 4px;
        text-align: left;
        color: colors.$badnSiteDarkBlack;
        background-color: colors.$alabaster;
        font-size: 12px;
        resize: none;
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__comments-input {
        @include mixins.tablet {
          padding: 16px;
          height: 92px;
        }
      }
      &__comments-input::placeholder {
        color: colors.$bandSiteBlack;
        font-size: 12px;
      }
      // SUBMIT-BUTTON
      &__submit-btn {
        width: 100%;
        // height: 40px;
        font-size: 14px;
        padding: 11.67px 0px; // PADDING IS ADDED TO TOTAL HEIGHT = 40PX
        text-transform: uppercase;
        color: colors.$white;
        background-color: colors.$bandSiteBlack;
        border-radius: 4px;
        border-width: 0px;
        margin-top: 16px;
      }
      &__submit-btn:hover {
        background-color: colors.$badnSiteDarkBlack;
      }
      &__submit-btn {
        @include mixins.tablet {
          width: 150px;
          padding: 11.67px 32px;
        }
      }
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .input-elements {
      @include mixins.tablet {
        // style is only meant for submit-btn
        // rest of the inputs elements are being align-left
        text-align: right;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__form {
    @include mixins.tablet {
      max-width: 585px;
      margin: auto;
    }
  }
  //  MEDIA = DESKTOP = [ ] = 1280PX
  &__form {
    @include mixins.desktop {
      max-width: 562px;
    }
  }
  // COMMENTS ADDS DYNAMICALLY BY JavaScript
  &__comments-container {
    // COMMENTS-CONTENT
    padding-bottom: 16px;
    .comment-content {
      border-bottom: 1px solid colors.$mercury;
      padding: 14px 0px;
      display: flex;
      justify-content: space-between;
      gap: 16px;
      // IMAGE-CONTAINER
      &__img-container {
        &--img-base {
          @include mixins.profileImageMobile;
          background-color: colors.$mercury;
        }
        //  MEDIA = TABLET = [ ] = 768PX
        &--img-base {
          @include mixins.tablet {
            @include mixins.profileImageTablet;
          }
        }
      }
      // TEXT-CONTAINER
      &__text-container {
        width: 100%;
        //NAME & TIME CONTAINER
        .name-time-container {
          display: flex;
          justify-content: space-between;
          padding-bottom: 14px;
          // NAME
          &__name {
            font-size: 13px;
            font-weight: 600;
            text-transform: capitalize;
            color: colors.$bandSiteBlack;
          }
          // TIME
          &__time {
            font-size: 13px;
            font-weight: 400;
            color: colors.$silver;
          }
        }
        // COMMENT-TEXT
        &--comments {
          font-size: 13px;
          line-height: 18px;
        }
        //  MEDIA = TABLET = [ ] = 768PX
        @include mixins.tablet {
          &--comments {
            line-height: 22px;
          }
        }
      }
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .comment-content {
      @include mixins.tablet {
        padding: 24px 0px;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__comments-container {
    @include mixins.tablet {
      max-width: 585px;
      margin: auto;
      padding-bottom: 36px;
    }
  }
  //  MEDIA = DESKTOP = [ ] = 1280PX
  &__comments-container {
    @include mixins.tablet {
      max-width: 562px;
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.comments {
  @include mixins.tablet {
    padding: 0px 36px;
  }
}
