/* IMPORTS */

// COLORS
@use "./colors";
// MIXINS
@use "./mixins";

.shows {
  padding: 0px 16px;
  // TITLE
  &__title {
    font-size: 36px;
  }
  // SHOWS-TABLE-HEADER
  .shows-table-headers-container {
    display: flex;
  }
  // SHOWS-TABLE-DATA-CONTAINER
  .shows-table-data-container {
    // SHOW-TABLE-DATA-CONTAINER__CONTENT
    &__content {
      display: flex;
      justify-content: space-between;
      padding-top: 16px;
    }
    &__content:hover {
      background-color: colors.$mercury;
    }

    // CLASS IS DYNAMICALLY CREATED USING JAVASCRIPT
    .js_content-selected {
      background-color: colors.$mercury;
    }
  }
}
