// CENTERS ELEMETN BOTH VERTICALLY AND HORIZONTALLY WITHIN THE CONTAINER
@mixin flex-absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// MEDIA QUERIES MIXINS
// TABLET
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
// DESKTOP
@mixin desktop {
  @media (min-width: 1279px) {
    @content;
  }
}
