// CENTERS ELEMETN BOTH VERTICALLY AND HORIZONTALLY WITHIN THE CONTAINER
@mixin flex-absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// SECTION HEADER
@mixin sectionHeader {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
}
// MEDIA QUERIES MIXINS
// MOBILE-1
@mixin mobileOne {
  @media (min-width: 465px) {
    @content;
  }
}
// MOBILE-2
@mixin mobileTwo {
  @media (min-width: 610px) {
    @content;
  }
}
// TABLET
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
// DESKTOP
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
