/* IMPORTS */

// COLORS
@use "./colors";
// MIXINS
@use "./mixins";

.shows {
  padding: 36px 16px 16px 16px;
  // TITLE
  &__title {
    @include mixins.sectionHeader320;
  }
  // SHOWS TABLE HEADERS CONTAINER
  .shows-table-headers-container {
    // SHOWS TABLE HEADER NAME
    &__name {
      color: colors.$silver;
      font-weight: 400;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  // SHOWS-TABLE-DATA-CONTAINER
  .shows-table-data-container {
    // SHOW-TABLE-DATA-CONTAINER__CONTENT
    &__content {
      display: flex;
      justify-content: space-between;
      padding-top: 16px;
      // HEADERS
      &--inline-header {
        @include mixins.sectionHeader320;
      }
    }
    &__content:hover {
      background-color: colors.$mercury;
    }

    // CLASS IS DYNAMICALLY CREATED USING JAVASCRIPT
    &__content-selected {
      background-color: colors.$mercury;
    }
  }
}
