/* IMPORTS */

// COLORS
@use "./colors";
// MIXINS
@use "./mixins";

.shows {
  padding: 36px 16px 16px 16px;
  // TITLE
  &__title {
    @include mixins.sectionHeader320;
    padding-bottom: 7px;
  }
  // SHOWS TABLE HEADERS CONTAINER
  .shows-table-headers-container {
    display: none;
    // SHOWS TABLE HEADER NAME
    &__header {
      color: colors.$silver;
      font-weight: 400;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  // SHOWS-TABLE-DATA-CONTAINER
  .shows-table-data-container {
    // SHOW-TABLE-DATA-CONTAINER__CONTENT
    &__content {
      padding-top: 16px;
      // HEADERS
      &--inline-header {
        font-size: 10px;
        font-weight: 400;
        color: colors.$silver;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
    }
    &__content:hover {
      background-color: colors.$mercury;
    }

    // CLASS IS DYNAMICALLY CREATED USING JAVASCRIPT
    &__content-selected {
      background-color: colors.$mercury;
    }
  }
}
