@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir";
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #323232;
}
.header__brand-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__brand-name-container--link #bandsite-logo-header {
  padding: 24px 0px 16px 0px;
}
@media (min-width: 768px) {
  .header__brand-name-container--link #bandsite-logo-header {
    padding: 22px 0px 22px 0px;
  }
}
@media (min-width: 768px) {
  .header__brand-name-container--link {
    display: flex;
    justify-content: flex-start;
  }
}
.header__top-nav-container .top-navigations {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__top-nav-container .top-navigations__list {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top-nav-container .top-navigations__list--link {
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  width: 100%;
  padding-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afafaf;
  border-bottom: 3px solid #323232;
}
@media (min-width: 768px) {
  .header__top-nav-container .top-navigations__list--link {
    padding-bottom: 0px;
    margin-left: 60px;
    height: 100%;
  }
}
.header__top-nav-container .top-navigations__list #bio-link {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  font-weight: 600;
}
.header__top-nav-container .top-navigations__list--link:hover {
  color: #fafafa;
  border-bottom: 3px solid #fafafa;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0px 36px;
  }
}

/* MAIN HERO SECTION */
.main-hero-bio {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-hero-bio__title {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  padding: 0px 16px;
  position: relative;
  z-index: 2;
  font-size: 24px;
}
@media (min-width: 768px) {
  .main-hero-bio__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 600;
    padding: 0px 36px;
  }
}
.main-hero-bio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}

@media (min-width: 768px) {
  .main-hero-bio {
    height: 450px;
  }
}

/* ABOUT SECTION */
.about {
  width: 100%;
  padding: 0px 16px;
  padding-bottom: 16px;
}
.about__title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  width: 100%;
  padding: 24px 0px 16px 0px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 36px;
    padding: 48px 0px 36px 0px;
    line-height: 44px;
    max-width: 900px;
    margin: auto;
  }
}
.about__hero {
  width: 100%;
  height: 165px;
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .about__hero {
    height: 350px;
    padding: 0px 60px;
    max-width: 800px;
  }
}
.about__artist-statement, .about__artist-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #000000;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about__artist-statement, .about__artist-name {
    font-size: 24px;
    line-height: 32px;
    padding: 0px 60px;
    padding-top: 48px;
    max-width: 800px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .about__artist-name {
    font-size: 16px;
    padding-top: 5px;
    line-height: 32px;
  }
}
.about__band-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about__band-name {
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 48px;
    line-height: 32px;
    max-width: 800px;
    margin: auto;
  }
}
.about .band-descriptions__para {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about .band-descriptions__para {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .about .band-descriptions {
    display: flex;
    gap: 36px;
    max-width: 800px;
    margin: auto;
    padding: 0px 60px;
  }
}

@media (min-width: 768px) {
  .about {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}

.photo-gallery {
  padding: 0px 16px;
  padding-bottom: 16px;
  background-color: #fafafa;
}
.photo-gallery__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
  padding-top: 24px;
}
.photo-gallery__image-container .photo-gallery-img {
  width: 100%;
  display: block;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .photo-gallery__image-container .photo-gallery-img {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .photo-gallery__image-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    padding-top: 36px;
  }
}

@media (min-width: 768px) {
  .photo-gallery {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}

.footer {
  padding: 0px 16px;
  background-color: #323232;
}
.footer__socials-container .footer-social-text {
  font-size: 24px;
  font-weight: 700;
  color: #fafafa;
  padding-top: 24px;
  padding-bottom: 16px;
}
.footer__socials-container .footer-socials__links--logo {
  height: 23px;
  width: 23px;
  margin-right: 25px;
}
.footer__band-stakeholders-container .footer-stakeholders__names {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #fafafa;
  padding-top: 16px;
}
.footer__band-stakeholders-container .footer-stakeholders__names .footer-stakeholders-group-name {
  text-transform: capitalize;
}
.footer__band-stakeholders-container .footer-stakeholders__address {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #fafafa;
  padding-top: 16px;
}
.footer__band-stakeholders-container .footer-stakeholders__email {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #fafafa;
  display: block;
  padding-top: 16px;
  text-decoration: none;
}
.footer__copy-right--website-name {
  display: block;
  padding-top: 24px;
  padding-bottom: 16px;
}
.footer__copy-right #copy-right-info {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 16px;
  color: #fafafa;
  text-transform: capitalize;
}/*# sourceMappingURL=bio.css.map */