/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* HEADER */
.header {
  background-color: #323232;
}
.header__nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*------------------------------------------------*/
  /*------------------------------------------------*/
}
.header__nav-bar .header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-bar .header-logo-container__link--img {
  padding: 24px 0px 16px 0px;
}
@media (min-width: 768px) {
  .header__nav-bar .header-logo-container__link--img {
    padding: 22px 0px 22px 0px;
  }
}
@media (min-width: 768px) {
  .header__nav-bar .header-logo-container__link {
    display: flex;
    justify-content: flex-start;
  }
}
.header__nav-bar .header-page-link-container__list {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__nav-bar .header-page-link-container__list--item {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-bar .header-page-link-container__list--item .page-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding-bottom: 14px;
  color: #afafaf;
  border-bottom: 3px solid #323232;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header__nav-bar .header-page-link-container__list--item .page-link {
    padding: 25px 0px;
    margin-left: 60px;
    height: 100%;
  }
}
.header__nav-bar .header-page-link-container__list--item .page-link:hover {
  color: #fafafa;
  border-bottom: 3px solid #fafafa;
}
@media (min-width: 768px) {
  .header__nav-bar {
    flex-direction: row;
    padding: 0px 36px;
  }
}
@media (min-width: 1280px) {
  .header__nav-bar {
    max-width: 1040px;
    padding: 0px 0px;
    margin: auto;
  }
}

/* HEADER */
.header__nav-bar .header-page-link-container__list--item #bio-page-link {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.bio-hero {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /*------------------------------------------------*/
}
.bio-hero__title {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  padding: 0px 16px;
  position: relative;
  z-index: 2;
  font-size: 24px;
  width: 100%;
}
@media (min-width: 768px) {
  .bio-hero__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 600;
    padding: 0px 36px;
  }
}
@media (min-width: 1280px) {
  .bio-hero__title {
    max-width: 1040px;
    padding: 0px 0px;
    margin: auto;
  }
}
.bio-hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}

@media (min-width: 465px) {
  .bio-hero {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .bio-hero {
    height: 450px;
  }
}

@media (min-width: 1280px) {
  .bio-hero {
    min-height: 600px;
  }
}

/* ABOUT SECTION */
.about {
  width: 100%;
  padding: 0px 16px;
  padding-bottom: 16px;
  /*------------------------------------------------*/
  /*------------------------------------------------*/
  /*------------------------------------------------*/
  /*------------------------------------------------*/
  /*------------------------------------------------*/
  /*------------------------------------------------*/
}
.about__title {
  font-size: 24px;
  font-weight: 600;
  color: #323232;
  width: 100%;
  padding: 24px 0px 16px 0px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 34px;
    padding: 48px 0px 36px 0px;
    line-height: 44px;
  }
}
@media (min-width: 1280px) {
  .about__title {
    max-width: 1040px;
    margin: auto;
  }
}
.about__hero {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
  width: 100%;
}
@media (min-width: 465px) {
  .about__hero {
    height: 260px;
  }
}
@media (min-width: 610px) {
  .about__hero {
    height: 290px;
  }
}
@media (min-width: 768px) {
  .about__hero {
    height: 320px;
    padding: 0px 60px;
    max-width: 800px;
  }
}
@media (min-width: 1280px) {
  .about__hero {
    max-width: 1000px;
    height: 430px;
  }
}
.about__artist-statement, .about__artist-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #323232;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about__artist-statement, .about__artist-name {
    font-size: 19px;
    line-height: 32px;
    padding: 0px 60px;
    padding-top: 48px;
    max-width: 800px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .about__artist-statement, .about__artist-name {
    max-width: 1000px;
    padding-right: 290px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .about__artist-name {
    font-size: 13px;
    padding-top: 5px;
    line-height: 32px;
  }
}
@media (min-width: 1280px) {
  .about__artist-name {
    padding-right: 60px;
  }
}
.about__band-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about__band-name {
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 48px;
    line-height: 32px;
    max-width: 800px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .about__band-name {
    max-width: 1000px;
  }
}
.about .band-descriptions__para {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about .band-descriptions__para {
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .about .band-descriptions {
    display: flex;
    gap: 36px;
    max-width: 800px;
    margin: auto;
    padding: 0px 60px;
  }
}
@media (min-width: 1280px) {
  .about .band-descriptions {
    max-width: 1000px;
  }
}

@media (min-width: 768px) {
  .about {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}

.gallery {
  padding: 0px 16px;
  padding-bottom: 16px;
  background-color: #fafafa;
  /*------------------------------------------------*/
  /*------------------------------------------------*/
}
.gallery__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000;
  padding-top: 24px;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 34px;
    padding: 48px 0px 0px 0px;
    line-height: 44px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    max-width: 1040px;
  }
}
.gallery__image-container--img {
  width: 100%;
  display: block;
  padding-top: 16px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition: 0.3s;
}
.gallery__image-container--img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
@media (min-width: 768px) {
  .gallery__image-container--img {
    width: calc(33.3% - 1rem);
    padding-top: 0px;
  }
}
@media (min-width: 768px) {
  .gallery__image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 36px;
  }
}
@media (min-width: 1280px) {
  .gallery__image-container {
    max-width: 1040px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}

.comments {
  padding: 0px 16px;
}
.comments__title {
  padding-top: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.comments__title {
  padding-top: 48px;
}
@media (min-width: 768px) {
  .comments__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
  }
}
@media (min-width: 1280px) {
  .comments__title {
    max-width: 1040px;
    margin: auto;
  }
}
.comments__form {
  display: flex;
  padding: 16px 0px;
  border-bottom: 1px solid #e1e1e1;
  gap: 16px;
}
.comments__form .profile-image-container {
  padding-top: 16px;
}
.comments__form .profile-image-container__img-base {
  background-image: url("../../assets/images/Mohan-muruge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .comments__form .profile-image-container__img-base {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}
.comments__form .input-elements {
  width: 100%;
}
.comments__form .input-elements__label {
  display: block;
  width: 100%;
  font-size: 10px;
  text-transform: uppercase;
  color: #afafaf;
  padding-bottom: 4px;
}
@media (min-width: 768px) {
  .comments__form .input-elements__label {
    font-size: 12px;
    text-align: left;
  }
}
.comments__form .input-elements #label-comment {
  padding-top: 20px;
}
.comments__form .input-elements__name-input {
  display: block;
  width: 100%;
  height: 36px;
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  color: #000000;
  background-color: #fafafa;
  font-size: 12px;
}
@media (min-width: 768px) {
  .comments__form .input-elements__name-input {
    height: 48px;
    padding: 16px;
  }
}
.comments__form .input-elements__name-input::-moz-placeholder {
  color: #323232;
  font-size: 12px;
}
.comments__form .input-elements__name-input::placeholder {
  color: #323232;
  font-size: 12px;
}
.comments__form .input-elements__comments-input {
  display: block;
  width: 100%;
  height: 80px;
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  text-align: left;
  color: #000000;
  background-color: #fafafa;
  font-size: 12px;
  resize: none;
}
@media (min-width: 768px) {
  .comments__form .input-elements__comments-input {
    padding: 16px;
    height: 92px;
  }
}
.comments__form .input-elements__comments-input::-moz-placeholder {
  color: #323232;
  font-size: 12px;
}
.comments__form .input-elements__comments-input::placeholder {
  color: #323232;
  font-size: 12px;
}
.comments__form .input-elements__name-warning-msg {
  color: #d22d2d;
  font-size: 12px;
  text-align: left;
  padding-top: 4px;
  display: none;
}
.comments__form .input-elements__comment-warning-msg {
  color: #d22d2d;
  font-size: 12px;
  text-align: left;
  padding-top: 4px;
  display: none;
}
.comments__form .input-elements__warning-msg-display {
  display: block;
}
.comments__form .input-elements__pink-border {
  border: 1px solid #d22d2d;
}
.comments__form .input-elements__submit-btn {
  width: 100%;
  font-size: 14px;
  padding: 11.67px 0px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #323232;
  border-radius: 4px;
  border-width: 0px;
  margin-top: 16px;
}
.comments__form .input-elements__submit-btn:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .comments__form .input-elements__submit-btn {
    width: 150px;
    padding: 11.67px 32px;
  }
}
@media (min-width: 768px) {
  .comments__form .input-elements {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .comments__form {
    max-width: 585px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .comments__form {
    max-width: 562px;
  }
}
.comments__comments-container {
  padding-bottom: 16px;
}
.comments__comments-container .comment-content {
  border-bottom: 1px solid #e1e1e1;
  padding: 14px 0px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.comments__comments-container .comment-content__img-container--img-base {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .comments__comments-container .comment-content__img-container--img-base {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}
.comments__comments-container .comment-content__text-container {
  width: 100%;
}
.comments__comments-container .comment-content__text-container .name-time-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.comments__comments-container .comment-content__text-container .name-time-container__name {
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  color: #323232;
}
.comments__comments-container .comment-content__text-container .name-time-container__time {
  font-size: 13px;
  font-weight: 400;
  color: #afafaf;
}
.comments__comments-container .comment-content__text-container--comments {
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .comments__comments-container .comment-content__text-container--comments {
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .comments__comments-container .comment-content {
    padding: 24px 0px;
  }
}
@media (min-width: 768px) {
  .comments__comments-container {
    max-width: 585px;
    margin: auto;
    padding-bottom: 36px;
  }
}
@media (min-width: 768px) {
  .comments__comments-container {
    max-width: 562px;
  }
}

@media (min-width: 768px) {
  .comments {
    padding: 0px 36px;
  }
}

.footer {
  padding: 0px 16px;
  background-color: #323232;
  /*------------------------------------------------*/
  /*------------------------------------------------*/
  /*------------------------------------------------*/
}
.footer__links-container .footer-links-text {
  font-size: 24px;
  font-weight: 600;
  color: #fafafa;
  padding-top: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__links-container .footer-links-text {
    font-size: 34px;
    padding: 0px;
  }
}
.footer__links-container .footer-links-socials {
  display: flex;
}
.footer__links-container .footer-links-socials__link--logo {
  height: 23px;
  width: 23px;
  margin-right: 25px;
}
@media (min-width: 768px) {
  .footer__links-container .footer-links-socials__link--logo {
    height: 22px;
    width: 22px;
  }
}
@media (min-width: 768px) {
  .footer__links-container .footer-links-socials__link {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer__links-container .footer-links-socials {
    display: flex;
  }
}
.footer__links-container .footer-links-logo-one-container {
  display: none;
}
@media (min-width: 768px) {
  .footer__links-container .footer-links-logo-one-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 10%;
  }
}
@media (min-width: 768px) {
  .footer__links-container {
    display: flex;
    gap: 36px;
    padding-top: 45px;
    padding-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__links-container {
    max-width: 1040px;
    margin: auto;
  }
}
.footer__labels-container .footer-labels__names {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: #fafafa;
  padding-top: 16px;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .footer__labels-container .footer-labels__names {
    padding-top: 0px;
  }
}
.footer__labels-container .footer-labels__address {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #e1e1e1;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .footer__labels-container .footer-labels__address {
    padding-top: 25px;
    line-height: 20px;
  }
}
.footer__labels-container .footer-labels__email {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #e1e1e1;
  display: block;
  padding-top: 16px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__labels-container .footer-labels__email {
    font-size: 13px;
    padding-top: 25px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .footer__labels-container {
    display: flex;
    gap: 50px;
  }
}
@media (min-width: 1280px) {
  .footer__labels-container {
    max-width: 1040px;
    margin: auto;
  }
}
.footer__copy-right--link {
  display: block;
  padding-top: 60px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__copy-right--link {
    display: none;
  }
}
.footer__copy-right #copy-right-info {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 16px;
  color: #e1e1e1;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .footer__copy-right #copy-right-info {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .footer__copy-right {
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer__copy-right {
    max-width: 1040px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 0px 36px;
  }
}/*# sourceMappingURL=bio.css.map */