@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir";
}

/* HEADER */
.header {
  background-color: #323232;
}
.header__nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__nav-bar .header-brand-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-bar .header-brand-name-container__link #bandsite-logo-header {
  padding: 24px 0px 16px 0px;
}
@media (min-width: 768px) {
  .header__nav-bar .header-brand-name-container__link #bandsite-logo-header {
    padding: 22px 0px 22px 0px;
  }
}
@media (min-width: 768px) {
  .header__nav-bar .header-brand-name-container__link {
    display: flex;
    justify-content: flex-start;
  }
}
.header__nav-bar .header-top-nav-container__navigations {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__nav-bar .header-top-nav-container__navigations--list {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-bar .header-top-nav-container__navigations--list .top-navigation-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding-bottom: 14px;
  color: #afafaf;
  border-bottom: 3px solid #323232;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header__nav-bar .header-top-nav-container__navigations--list .top-navigation-link {
    padding-bottom: 0px;
    margin-left: 60px;
    height: 100%;
  }
}
.header__nav-bar .header-top-nav-container__navigations--list #bio-link {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}
.header__nav-bar .header-top-nav-container__navigations--list .top-navigation-link:hover {
  color: #fafafa;
  border-bottom: 3px solid #fafafa;
}
@media (min-width: 768px) {
  .header__nav-bar {
    flex-direction: row;
    padding: 0px 36px;
  }
}
@media (min-width: 1280px) {
  .header__nav-bar {
    max-width: 1040px;
    padding: 0px 0px;
    margin: auto;
  }
}

/* MAIN HERO SECTION */
.bio-hero {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.bio-hero__title {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  padding: 0px 16px;
  position: relative;
  z-index: 2;
  font-size: 24px;
  width: 100%;
}
@media (min-width: 768px) {
  .bio-hero__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 600;
    padding: 0px 36px;
  }
}
@media (min-width: 1280px) {
  .bio-hero__title {
    max-width: 1040px;
    padding: 0px 0px;
    margin: auto;
  }
}
.bio-hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}

@media (min-width: 465px) {
  .bio-hero {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .bio-hero {
    height: 450px;
  }
}

@media (min-width: 1280px) {
  .bio-hero {
    min-height: 600px;
  }
}

/* ABOUT SECTION */
.about {
  width: 100%;
  padding: 0px 16px;
  padding-bottom: 16px;
}
.about__title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  width: 100%;
  padding: 24px 0px 16px 0px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 36px;
    padding: 48px 0px 36px 0px;
    line-height: 44px;
  }
}
@media (min-width: 1280px) {
  .about__title {
    max-width: 1040px;
    margin: auto;
  }
}
.about__hero {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
  width: 100%;
}
@media (min-width: 465px) {
  .about__hero {
    height: 260px;
  }
}
@media (min-width: 610px) {
  .about__hero {
    height: 290px;
  }
}
@media (min-width: 768px) {
  .about__hero {
    height: 320px;
    padding: 0px 60px;
    max-width: 800px;
  }
}
@media (min-width: 1280px) {
  .about__hero {
    max-width: 1000px;
    height: 430px;
  }
}
.about__artist-statement, .about__artist-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #000000;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about__artist-statement, .about__artist-name {
    font-size: 24px;
    line-height: 32px;
    padding: 0px 60px;
    padding-top: 48px;
    max-width: 800px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .about__artist-statement, .about__artist-name {
    max-width: 1000px;
    padding-right: 230px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .about__artist-name {
    font-size: 16px;
    padding-top: 5px;
    line-height: 32px;
  }
}
@media (min-width: 1280px) {
  .about__artist-name {
    padding-right: 60px;
  }
}
.about__band-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about__band-name {
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 48px;
    line-height: 32px;
    max-width: 800px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .about__band-name {
    max-width: 1000px;
  }
}
.about .band-descriptions__para {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .about .band-descriptions__para {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .about .band-descriptions {
    display: flex;
    gap: 36px;
    max-width: 800px;
    margin: auto;
    padding: 0px 60px;
  }
}
@media (min-width: 1280px) {
  .about .band-descriptions {
    max-width: 1000px;
  }
}

@media (min-width: 768px) {
  .about {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}

.gallery {
  padding: 0px 16px;
  padding-bottom: 16px;
  background-color: #fafafa;
}
.gallery__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
  padding-top: 24px;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 36px;
    padding: 48px 0px 0px 0px;
    line-height: 44px;
    max-width: 900px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    max-width: 1040px;
  }
}
.gallery__image-container .gallery-img {
  width: 100%;
  display: block;
  padding-top: 16px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition: 0.3s;
}
.gallery__image-container .gallery-img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
@media (min-width: 768px) {
  .gallery__image-container .gallery-img {
    width: calc(33.3% - 1rem);
    padding-top: 0px;
  }
}
@media (min-width: 768px) {
  .gallery__image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 36px;
  }
}
@media (min-width: 768px) {
  .gallery__image-container {
    max-width: 1040px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}

.footer {
  padding: 0px 16px;
  background-color: #323232;
}
.footer__socials-container .footer-social-text {
  font-size: 24px;
  font-weight: 700;
  color: #fafafa;
  padding-top: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__socials-container .footer-social-text {
    font-size: 36px;
    font-weight: 600;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
.footer__socials-container .footer-socials {
  display: flex;
}
.footer__socials-container .footer-socials__links--logo {
  height: 23px;
  width: 23px;
  margin-right: 25px;
}
@media (min-width: 768px) {
  .footer__socials-container .footer-socials__links--logo {
    height: 24px;
    width: 24px;
  }
}
@media (min-width: 768px) {
  .footer__socials-container .footer-socials__links {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer__socials-container .footer-socials {
    display: flex;
  }
}
.footer__socials-container .footer-logo-one-container {
  display: none;
}
.footer__socials-container .footer-logo-one-container__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__socials-container .footer-logo-one-container__logo {
    display: inline;
    height: 19px;
  }
}
@media (min-width: 768px) {
  .footer__socials-container .footer-logo-one-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 10%;
  }
}
@media (min-width: 768px) {
  .footer__socials-container {
    display: flex;
    gap: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__socials-container {
    max-width: 1040px;
    margin: auto;
  }
}
.footer__band-stakeholders-container .footer-stakeholders__names {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #fafafa;
  padding-top: 16px;
}
.footer__band-stakeholders-container .footer-stakeholders__names .footer-stakeholders-group-name {
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .footer__band-stakeholders-container .footer-stakeholders__names {
    padding-top: 0px;
  }
}
.footer__band-stakeholders-container .footer-stakeholders__address {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #fafafa;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .footer__band-stakeholders-container .footer-stakeholders__address {
    padding-top: 36px;
    line-height: 20px;
  }
}
.footer__band-stakeholders-container .footer-stakeholders__email {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #fafafa;
  display: block;
  padding-top: 16px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__band-stakeholders-container .footer-stakeholders__email {
    padding-top: 36px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .footer__band-stakeholders-container {
    display: flex;
    gap: 50px;
  }
}
@media (min-width: 1280px) {
  .footer__band-stakeholders-container {
    max-width: 1040px;
    margin: auto;
  }
}
.footer__copy-right--website-name {
  display: block;
  padding-top: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__copy-right--website-name {
    display: none;
  }
}
.footer__copy-right #copy-right-info {
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 16px;
  color: #fafafa;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .footer__copy-right #copy-right-info {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .footer__copy-right {
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer__copy-right {
    max-width: 1040px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 0px 36px;
  }
}/*# sourceMappingURL=bio.css.map */