// IMPORT FILES **
// MIXINS
@use "./partials/mixins";
// VARIABLES
@use "./partials/colors";
//FONTS
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Avenir";
}

//-----------------------------------------------------------------------------//
/* HEADER */
//  MEDIA = MOBILE = [ ] = 320PX
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: colors.$bandSiteBlack;
  // TOP-BANDSITE-LOGO
  &__brand-name-container {
    @include mixins.flex-absolute-center;
    // LINK
    &--link {
      // LOGO
      #bandsite-logo-header {
        padding: 24px 0px 16px 0px;
      }
      //  MEDIA = TABLET = [ ] = 768PX
      #bandsite-logo-header{
        @include mixins.tablet{
          padding: 36px;
        }
      }
    }
  }

  // TOP-NAVIGATION
  &__top-nav-container {
    // UNORDERED LIST
    .top-navigations {
      display: flex;
      justify-content: space-between;
      height: 100%;
      // LIST
      &__list {
        list-style: none;
        flex: 1;
        @include mixins.flex-absolute-center;
        // LINK
        &--link {
          text-decoration: none;
          text-transform: capitalize;
          display: block;
          width: 100%;
          padding-bottom: 14px;
          @include mixins.flex-absolute-center;
          color: colors.$silver;
          border-bottom: 3px solid colors.$bandSiteBlack;
        }
        //  MEDIA = TABLET = [ ] = 768PX
        &--link {
          @include mixins.tablet {
            padding-bottom: 0px;
            margin-right: 36px;
            height: 100%;
            @include mixins.flex-absolute-center;
          }
        }
        // BIO-LINK
        #bio-link {
          color: colors.$white;
          border-bottom: 3px solid colors.$white;
          font-weight: 600;
        }
        // HOVER
        .top-navigation__list--link:hover {
          color: colors.$alabaster;
          border-bottom: 3px solid colors.$alabaster;
        }
      }
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.header {
  @include mixins.tablet {
    flex-direction: row;
    padding: 0px 36px;
  }
}
//-----------------------------------------------------------------------------//
/* MAIN HERO SECTION */
.main-hero-bio {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  // TITLE
  &__title {
    color: colors.$white;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0px 16px;
    position: relative;
    z-index: 2;
    font-size: 24px;
  }
  // OVERLAY
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: colors.$badnSiteDarkBlack;
    opacity: 0.5;
    z-index: 1;
  }
}
//-----------------------------------------------------------------------------//
/* ABOUT SECTION */
.about {
  width: 100%;
  padding: 0px 16px;
  // ABOUT TITLE
  &__title {
    font-size: 24px;
    font-weight: 700;
    color: colors.$badnSiteDarkBlack;
    width: 100%;
    padding: 24px 0px 16px 0px;
  }
  // ABOUT IMAGE
  &__hero {
    width: 100%;
    height: 165px;
    display: block;
    margin: auto;
  }
  // ABOUT STATEMENT
  &__artist-statement {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: colors.$badnSiteDarkBlack;
    padding-top: 16px;
  }
  // ARTIST NAME
  &__artist-name {
    @extend .about__artist-statement;
  }
  // BAND NAME
  &__band-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-transform: capitalize;
    color: colors.$badnSiteDarkBlack;
    padding-top: 16px;
  }
  // BAND DESCRIPTION CONTAINER
  .band-descriptions {
    &__para {
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      padding-top: 16px;
    }
  }
}
//-----------------------------------------------------------------------------//
// PHOTO GALLERY
.photo-gallery {
  padding: 0px 16px;
  padding-bottom: 16px;
  // TITLE
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: colors.$badnSiteDarkBlack;
    padding-top: 24px;
  }
  // PHOTO GALLERY IMAGE CONTAINER
  &__image-container {
    // IMAGES
    .photo-gallery-img {
      width: 100%;
      display: block;
      padding-top: 16px;
    }
  }
}
//-----------------------------------------------------------------------------//
// FOOTER
.footer {
  padding: 0px 16px;
  background-color: colors.$bandSiteBlack;
  // SOCIAL SECTION
  &__socials-container {
    // SOCIAL TEXT
    .footer-social-text {
      font-size: 24px;
      font-weight: 700;
      color: colors.$alabaster;
      padding-top: 24px;
      padding-bottom: 16px;
    }
    // SOCIAL ICONS
    .footer-socials {
      &__links {
        &--logo {
          height: 23px;
          width: 23px;
          margin-right: 25px;
        }
      }
    }
  }
  // STAKEHOLDER SECTION
  &__band-stakeholders-container {
    // STAKHOLDER-1
    .footer-stakeholders {
      // PERSON & ORGANISATION
      &__names {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: colors.$alabaster;
        padding-top: 16px;
        // GROUP NAME
        .footer-stakeholders-group-name {
          text-transform: capitalize;
        }
      }
      // ADDRESS & LOCATION
      &__address {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: colors.$alabaster;
        padding-top: 16px;
      }
      // EMAIL
      &__email {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: colors.$alabaster;
        display: block;
        padding-top: 16px;
        text-decoration: none;
      }
    }
  }
  // COPY RIGHT SECTION
  &__copy-right {
    //  WEBSITE NAME
    &--website-name {
      display: block;
      padding-top: 24px;
      padding-bottom: 16px;
    } // COPY RIGHT INFO
    #copy-right-info {
      font-size: 10px;
      font-weight: 400;
      line-height: 20px;
      padding-bottom: 16px;
      color: colors.$alabaster;
      text-transform: capitalize;
    }
  }
}
