// IMPORT FILES **
// MIXINS
@use "./partials/mixins";
// VARIABLES
@use "./partials/colors";
//FONTS
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Avenir";
}

//-----------------------------------------------------------------------------//
/* HEADER */
//  MEDIA = MOBILE = [ ] = 320PX
.header {
  background-color: colors.$bandSiteBlack;
  // HEADER-CONTENT
  &__nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    // TOP-BANDSITE-LOGO
    .header-brand-name-container {
      @include mixins.flex-absolute-center;
      // LINK
      &__link {
        // LOGO
        #bandsite-logo-header {
          padding: 24px 0px 16px 0px;
        }
        //  MEDIA = TABLET = [ ] = 768PX
        #bandsite-logo-header {
          @include mixins.tablet {
            // padding: 36px;
            padding: 22px 0px 22px 0px;
          }
        }
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__link {
        @include mixins.tablet {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
    // TOP-NAVIGATION
    .header-top-nav-container {
      // UNORDERED LIST
      &__navigations {
        display: flex;
        justify-content: space-between;
        height: 100%;
        // LIST
        &--list {
          list-style: none;
          flex: 1;
          @include mixins.flex-absolute-center;
          // LINK
          .top-navigation-link {
            text-decoration: none;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 400;
            display: block;
            width: 100%;
            padding-bottom: 14px;
            color: colors.$silver;
            border-bottom: 3px solid colors.$bandSiteBlack;
            @include mixins.flex-absolute-center;
          }
          //  MEDIA = TABLET = [ ] = 768PX
          .top-navigation-link {
            @include mixins.tablet {
              padding-bottom: 0px;
              margin-left: 60px;
              height: 100%;
              // display of absolute centre was removed
            }
          }
          // BIO-LINK
          #bio-link {
            color: colors.$white;
            border-bottom: 3px solid colors.$white;
          }
          // HOVER
          .top-navigation-link:hover {
            color: colors.$alabaster;
            border-bottom: 3px solid colors.$alabaster;
          }
        }
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__nav-bar {
    @include mixins.tablet {
      flex-direction: row;
      padding: 0px 36px;
    }
  }
  //  MEDIA = TABLET = [ ] = 1280PX
  &__nav-bar {
    @include mixins.desktop {
      max-width: 1040px;
      padding: 0px 0px;
      margin: auto;
    }
  }
}

//-----------------------------------------------------------------------------//
/* MAIN HERO SECTION */
.bio-hero {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  // TITLE
  &__title {
    color: colors.$white;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0px 16px;
    position: relative;
    z-index: 2;
    font-size: 24px;
    width: 100%;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__title {
    @include mixins.tablet {
      font-size: 60px;
      line-height: 68px;
      font-weight: 600;
      padding: 0px 36px;
    }
  }
  //  MEDIA = TABLET = [ ] = 1280PX
  &__title {
    @include mixins.desktop {
      max-width: 1040px;
      padding: 0px 0px;
      margin: auto;
    }
  }
  // OVERLAY
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: colors.$badnSiteDarkBlack;
    opacity: 0.5;
    z-index: 1;
  }
}
//  MEDIA = TABLET = [ ] = 465PX
.bio-hero {
  @include mixins.mobile {
    height: 300px;
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.bio-hero {
  @include mixins.tablet {
    height: 450px;
  }
}
//  MEDIA = TABLET = [ ] = 1280PX
.bio-hero {
  @include mixins.desktop {
    min-height: 600px;
  }
}
//-----------------------------------------------------------------------------//
/* ABOUT SECTION */
.about {
  width: 100%;
  padding: 0px 16px;
  padding-bottom: 16px;

  // ABOUT TITLE
  &__title {
    font-size: 24px;
    font-weight: 600;
    color: colors.$bandSiteBlack;
    width: 100%;
    padding: 24px 0px 16px 0px;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__title {
    @include mixins.tablet {
      font-size: 34px;
      padding: 48px 0px 36px 0px;
      line-height: 44px;
    }
  }
  //  MEDIA = TABLET = [ ] = 1280PX
  &__title {
    @include mixins.desktop {
      max-width: 1040px;
      margin: auto;
    }
  }
  // ABOUT IMAGE
  &__hero {
    object-fit: cover;
    display: block;
    margin: auto;
    width: 100%;
    // height: 165px;
  }
  //  MEDIA = TABLET = [ ] = 465PX
  &__hero {
    @include mixins.mobile {
      height: 260px;
    }
  }
  //  MEDIA = TABLET = [ ] = 610PX
  &__hero {
    @include mixins.mobile2 {
      height: 290px;
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__hero {
    @include mixins.tablet {
      height: 320px;
      padding: 0px 60px;
      max-width: 800px;
    }
  }
  //  MEDIA = TABLET = [ ] = 1280PX
  &__hero {
    @include mixins.desktop {
      max-width: 1000px;
      height: 430px;
    }
  }
  // ABOUT STATEMENT
  &__artist-statement {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: colors.$bandSiteBlack;
    padding-top: 16px;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__artist-statement {
    @include mixins.tablet {
      font-size: 19px;
      line-height: 32px;
      padding: 0px 60px;
      padding-top: 48px;
      max-width: 800px;
      margin: auto;
    }
  }
  // MEDIA = TABLET = [ ] = 1280PX
  &__artist-statement {
    @include mixins.desktop {
      max-width: 1000px;
      padding-right: 290px;
      margin: auto;
    }
  }

  // ARTIST NAME
  &__artist-name {
    @extend .about__artist-statement;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__artist-name {
    @include mixins.tablet {
      font-size: 13px;
      padding-top: 5px;
      line-height: 32px;
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__artist-name {
    @include mixins.desktop {
      padding-right: 60px;
    }
  }
  // BAND NAME
  &__band-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-transform: capitalize;
    color: colors.$badnSiteDarkBlack;
    padding-top: 16px;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__band-name {
    @include mixins.tablet {
      font-size: 24px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 48px;
      line-height: 32px;
      max-width: 800px;
      margin: auto;
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__band-name {
    @include mixins.desktop {
      max-width: 1000px;
    }
  }
  // BAND DESCRIPTION CONTAINER
  .band-descriptions {
    &__para {
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      padding-top: 16px;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    &__para {
      @include mixins.tablet {
        line-height: 22px;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  .band-descriptions {
    @include mixins.tablet {
      display: flex;
      gap: 36px;
      max-width: 800px;
      margin: auto;
      padding: 0px 60px;
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  .band-descriptions {
    @include mixins.desktop {
      max-width: 1000px;
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.about {
  @include mixins.tablet {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}
//-----------------------------------------------------------------------------//
// PHOTO GALLERY
.gallery {
  padding: 0px 16px;
  padding-bottom: 16px;
  background-color: colors.$alabaster;
  // TITLE
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: colors.$badnSiteDarkBlack;
    padding-top: 24px;
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__title {
    @include mixins.tablet {
      font-size: 34px;
      padding: 48px 0px 0px 0px;
      line-height: 44px;
      max-width: 900px;
      margin: auto;
    }
  }
  //  MEDIA = TABLET = [ ] = 1280PX
  &__title {
    @include mixins.tablet {
      max-width: 1040px;
    }
  }
  // PHOTO GALLERY IMAGE CONTAINER
  &__image-container {
    // IMAGES
    .gallery-img {
      width: 100%;
      display: block;
      padding-top: 16px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      transition: 0.3s;
    }
    // PSEUDO CLASS : HOVER
    .gallery-img:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .gallery-img {
      @include mixins.tablet {
        width: calc(33.3% - 1rem);
        padding-top: 0px;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__image-container {
    @include mixins.tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding-top: 36px;
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__image-container {
    @include mixins.tablet {
      max-width: 1040px;
      margin: auto;
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.gallery {
  @include mixins.tablet {
    padding: 0px 36px;
    padding-bottom: 36px;
  }
}
//-----------------------------------------------------------------------------//
// FOOTER
.footer {
  padding: 0px 16px;
  background-color: colors.$bandSiteBlack;
  // SOCIAL SECTION
  &__socials-container {
    // SOCIAL TEXT
    .footer-social-text {
      font-size: 24px;
      font-weight: 700;
      color: colors.$alabaster;
      padding-top: 24px;
      padding-bottom: 16px;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .footer-social-text {
      @include mixins.tablet {
        font-size: 36px;
        font-weight: 600;
        padding-top: 48px;
        padding-bottom: 36px;
      }
    }
    // SOCIAL ICONS
    .footer-socials {
      display: flex;
      &__links {
        &--logo {
          height: 23px;
          width: 23px;
          margin-right: 25px;
        }
        //  MEDIA = TABLET = [ ] = 768PX
        &--logo {
          @include mixins.tablet {
            height: 24px;
            width: 24px;
          }
        }
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__links {
        @include mixins.tablet {
          display: flex;
          align-items: center;
        }
      }
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .footer-socials {
      @include mixins.tablet {
        display: flex;
      }
    }
    // BANDSITE LOGO FOR: MAX-WIDTH = 768PX
    .footer-logo-one-container {
      display: none;
      &__logo {
        display: none;
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__logo {
        @include mixins.tablet {
          display: inline;
          height: 19px;
        }
      }
    }
    //  MEDIA = TABLET = [ ] = 768PX
    .footer-logo-one-container {
      @include mixins.tablet {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 10%;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__socials-container {
    @include mixins.tablet {
      display: flex;
      gap: 36px;
    }
  }
  //  MEDIA = TABLET = [ ] = 1280PX
  &__socials-container {
    @include mixins.desktop {
      max-width: 1040px;
      margin: auto;
    }
  }
  // STAKEHOLDER SECTION
  &__band-stakeholders-container {
    // STAKHOLDER-1
    .footer-stakeholders {
      // PERSON & ORGANISATION
      &__names {
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: colors.$alabaster;
        padding-top: 16px;
        // GROUP NAME
        .footer-stakeholders-group-name {
          text-transform: capitalize;
        }
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__names {
        @include mixins.tablet {
          padding-top: 0px;
        }
      }

      // ADDRESS & LOCATION
      &__address {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: colors.$alabaster;
        padding-top: 16px;
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__address {
        @include mixins.tablet {
          padding-top: 36px;
          line-height: 20px;
        }
      }
      // EMAIL
      &__email {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: colors.$alabaster;
        display: block;
        padding-top: 16px;
        text-decoration: none;
      }
      //  MEDIA = TABLET = [ ] = 768PX
      &__email {
        @include mixins.tablet {
          padding-top: 36px;
          line-height: 20px;
        }
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__band-stakeholders-container {
    @include mixins.tablet {
      display: flex;
      gap: 50px;
    }
  }
  //  MEDIA = TABLET = [ ] = 1280PX
  &__band-stakeholders-container {
    @include mixins.desktop {
      max-width: 1040px;
      margin: auto;
    }
  }

  // COPY RIGHT SECTION
  &__copy-right {
    //  WEBSITE NAME
    &--website-name {
      display: block;
      padding-top: 24px;
      padding-bottom: 16px;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    &--website-name {
      @include mixins.tablet {
        display: none;
      }
    }
    // COPY RIGHT INFO
    #copy-right-info {
      font-size: 10px;
      font-weight: 400;
      line-height: 20px;
      padding-bottom: 16px;
      color: colors.$alabaster;
      text-transform: capitalize;
    }
    //  MEDIA = TABLET = [ ] = 768PX
    #copy-right-info {
      @include mixins.tablet {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  //  MEDIA = TABLET = [ ] = 768PX
  &__copy-right {
    @include mixins.tablet {
      padding-top: 36px;
      padding-bottom: 36px;
      position: relative;
    }
  }
  //  MEDIA = TABLET = [ ] = 1280PX
  &__copy-right {
    @include mixins.desktop {
      max-width: 1040px;
      margin: auto;
    }
  }
}
//  MEDIA = TABLET = [ ] = 768PX
.footer {
  @include mixins.tablet {
    padding: 0px 36px;
  }
}
