// IMPORTED FILES
// @use "./partials/mixins";
// MIXIN MUST BE IN SEPARATE FILES
@mixin absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//  SCREEN MAX-WIDTH OF 320PX OR LOWER []
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: yellowgreen;
  // TOP-BANDSITE-LOGO
  &__brand-name-container {
    @include absolute-center;
  }
  // TOP-NAVIGATION
  &__top-nav-container {
    .top-navigations {
      display: flex;
      justify-content: space-between;
      // LIST
      &__list {
        list-style: none;
        flex: 1;
        @include absolute-center;

        // LINK
        .top-navigation__list--link {
          text-decoration: none;
        }
      }
    }
  }
}
