@use "./partials/colors";
@use "./partials/mixins";
@use "./partials/comments" as *;
// BIO-PAGE
@use "./bio.scss" as *;
// GENERAL RULES
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Avenir";
}
