@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
.comments {
  padding: 24px 16px 0px 16px;
}
.comments__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media (min-width: 768px) {
  .comments__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
  }
}
.comments__form {
  display: flex;
  padding: 16px 0px;
  border-bottom: 1px solid #e1e1e1;
}
.comments__form .profile-image-container {
  flex: 17%;
}
.comments__form .profile-image-container__img-base {
  height: 36px;
  width: 36px;
  background-image: url("../../assets/images/Mohan-muruge.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-top: 16px;
}
.comments__form .input-elements {
  flex: 83%;
}
.comments__form .input-elements__label {
  display: block;
  width: 100%;
  font-size: 10px;
  text-transform: uppercase;
  color: #afafaf;
  padding-bottom: 4px;
}
.comments__form .input-elements #label-comment {
  padding-top: 20px;
}
.comments__form .input-elements__name-input {
  display: block;
  width: 100%;
  height: 36px;
  padding: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  color: #000000;
  font-size: 12px;
}
.comments__form .input-elements__name-input::-moz-placeholder {
  color: #323232;
  font-size: 12px;
}
.comments__form .input-elements__name-input::placeholder {
  color: #323232;
  font-size: 12px;
}
.comments__form .input-elements__comments-input {
  display: block;
  width: 100%;
  height: 80px;
  padding: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  text-align: left;
  font-size: 12px;
}
.comments__form .input-elements__comments-input::-moz-placeholder {
  color: #323232;
  font-size: 12px;
}
.comments__form .input-elements__comments-input::placeholder {
  color: #323232;
  font-size: 12px;
}
.comments__form .input-elements__submit-btn {
  width: 100%;
  font-size: 14px;
  padding: 11.67px 0px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #323232;
  border-radius: 4px;
  border-width: 0px;
  margin-top: 16px;
}
.comments__form .input-elements__submit-btn:hover {
  background-color: #000000;
}
.comments__comments-container {
  padding-bottom: 16px;
}
.comments__comments-container .comment-content {
  border-bottom: 1px solid #e1e1e1;
  padding: 14px 0px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.comments__comments-container .comment-content__img-container--img-base {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.comments__comments-container .comment-content__text-container {
  width: 100%;
}
.comments__comments-container .comment-content__text-container .name-time-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.comments__comments-container .comment-content__text-container .name-time-container__name {
  font-size: 13px;
  font-weight: 600;
  color: #323232;
}
.comments__comments-container .comment-content__text-container .name-time-container__time {
  font-size: 13px;
  font-weight: 400;
  color: #afafaf;
}
.comments__comments-container .comment-content__text-container--comments {
  font-size: 13px;
  line-height: 18px;
}/*# sourceMappingURL=global.css.map */